<div class="flex flex-col h-screen w-screen">
  <header class="flex justify-between items-center p-4 border-b-1 shadow-sm bg-gray-100">
    <h1 class="text-2xl font-semibold">LGS E-Commerce</h1>
    <button mat-icon-button (click)="toggleCart()">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </header>
  <main class="flex-auto">
    <mat-drawer-container autosize>
      <mat-drawer mode="over" [opened]="showCart" position="end">
        <ng-container #cartContent></ng-container>
      </mat-drawer>
      <ng-container #catalogContent></ng-container>
    </mat-drawer-container>
  </main>
</div>